<ion-header>
  <ion-navbar>
    <ion-title>
      TMDB
    </ion-title>
  </ion-navbar>
<ion-searchbar placeholder="Search"  [(ngModel)]="query" (ionInput)="ionInput()"></ion-searchbar>
</ion-header>

<!-- showCancelButton color="danger" -->


<ion-content padding>

<ion-list>
  <ion-item *ngIf="!(result_table | async)?.length">
    <p>No results</p>
  </ion-item>
  <!-- <div *ngIf="this.query;"> Aucun résultat </div> -->
  <ion-item *ngFor="let item of result_table | async">
    <ion-thumbnail item-start>
      <img [src]="'https://image.tmdb.org/t/p/w92/' + item.poster_path">
    </ion-thumbnail>
    <p> {{item.title}} </p>
    <p>{{item.author}}</p>
    <!-- <button ion-button clear item-end>View</button> -->
<button ion-button clear item-end (click)="push(item)">More</button>

  </ion-item>
</ion-list>
</ion-content>
